.category-dropdown {
  width: 50%;
  height: 40px;
  border-radius: 5px;
  display: block;
}

.date-picker {
  width: 50%;
  height: 40px;
}

.category-date {
  display: flex;
  justify-content: space-between;
}

.bill-form {
  position: relative;
}

.submit-button {
  position: absolute;
  top: 300px;
  right: 30px;
}

.bills-table {
  margin-top: 10px;
}

.bills-heading {
  display: flex;
  justify-content: space-between;
}

.showbills-category-dropdown {
  width: 25%;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
}